
<html>
    <head>
        <style type="text/css">
        @import url('stylesheets/generic.css');
        </style>
        <link type="text/css" rel="stylesheet" href="stylesheets/backgrounds.css" />
    </head>  
    {% include "templates/header.html" %}
    <body class="index">
        <div class="title">
            <h1>GW2 Helping Hand</h1>
        </div>
        <div class="description">
            <p>
                This website is a bunch of miscellaneous pieces that I found to be useful to me personally, or to be missing from other pages that have done useful work for the community.
            </p>
        </div>
    </body>
    {% include "templates/footer.html" %}
</html>